{
    "title": "The Intersect",
    "description": "Personal Wiki",
    "baseUrl": "https://mycooldomain.com",
    "githubLink": "https://github.com/username/repo",
    "fathomTrackingId": null,
    "fathomDomain": "cdn.usefathom.com"
}