*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    color: var(--text-color);
    background-color: var(--background-color);
}

.intersect {
    display: flex;
    overflow-x: hidden;
}

.sidebar {
    margin-left: -300px;
    transition: margin 0.25s ease-out;
    width: 300px;
    background: var(--grey-background);
    border-right: 1px solid var(--light-border-color);
}

.sidebar-toggled .sidebar {
    margin-left: 0;
}

.main {
    width: 100%;
}

@media (min-width: 768px)
{
    .sidebar {
        margin-left: 0;
    }

    .sidebar-toggled .sidebar {
        margin-left: -300px;
        height: 100vh;
    }

    .main {
        min-width: 0;
        width: 100%;
    }
}

.github-corner svg {
    fill: var(--primary-color); 
    color: var(--grey-background);
}

.toolbar {
    height: 50px;
    display: flex;
    align-items: space-between;
    background-color: var(--grey-background);
    border-bottom: 1px solid var(--light-border-color);
}

.toolbar__block {
    flex: 1;
    display: flex;
}

.toolbar__block.center {
    align-items: center;
    justify-content: center;
}

.toolbar__block.center svg {
    width: 30px;
    height: 30px;
    color: var(--primary-color);
}

.toolbar__block.right {}

.nav-trigger {
    padding: 10px;
    opacity: .5;
    display: flex;
    color: var(--text-color);
}

.nav-trigger:hover {
    opacity: 1;
}

.nav-trigger svg {
    width: 30px;
    height: 30px;
}

.sidebar ul:first-child {
    margin-left: -30px;
}

.sidebar ul ul {
    display: none;
}

.sidebar li.open ul {
    display: block;
}

.sidebar li {
    list-style-type: none;
    font-size: 16px;
    position: relative;
}

.sidebar li a {
    padding: 10px 0;
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    width: calc(100% - 40px);
}

.sidebar li a:hover {
    color: var(--primary-color);
}

.sidebar .active {
    color:  var(--primary-color);
}

.sidebar ul ul {
    margin-left: -25px;
}

.sidebar ul ul a {
    color: var(--text-light-color);
}

.sidebar .toggler {
    position: absolute;
    top: 10px;
    right: 15px;
}

.sidebar .toggler svg {
    width: 20px;
    height: 20px;
}

.toggler .toggler-open {
    display: none;
}

.toggler .toggler-closed {
    display: block;
}

.open .toggler .toggler-open {
    display: block;
}

.open .toggler .toggler-closed {
    display: none;
}

.sidebar .toggler:hover {
    cursor: pointer;
}