body {
	font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
	color: var(--text-color);
    margin: 0;
}

.heading-anchor {
    float: left;
    margin-left: -25px;
    width: 25px;
    text-align: center;
}

nav.toc {
    font-size: 14px;
    background: var(--grey-background);
    padding: 10px 0;
    border: 1px solid var(--light-border-color);
    margin-bottom: 10px;
    width: 100%;
    max-width: 350px;
}

nav.toc ul {
    list-style-type: disc;
    margin-bottom: 0;
}

nav.toc ul ul {
    margin-left: -15px;
}

.page-meta {
    padding: 5px 0;
    margin-top: -17px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.github-link {
    display: flex;
    position: absolute;
    right: 20px;
}

.github-link img {
    width: 15px;
    height: 15px;
}

.breadcrumb {
    display: flex;
    align-items: center;
}

.breadcrumb-divider {
    width:15px;
    height:15px;
    margin-top: 1px;
}

.github-corner svg {
    fill: var(--primary-color); 
    color: var(--grey-background);
}

mark {
    background-color: yellow;
    color: black;
}

.stats-table-cell {
    vertical-align: middle;
}

.stats-table-external {
    float: right;
    margin-left: 10px;
}

.stats-table-external img {
    width:15px;
    height:15px;
}