:root {
  --primary-color: #db0a5b;
  --light-primary-color: #f7cfdf;
  --grey-background: #F5F7F9;
  --light-border-color: #eaecef;
  --text-color:  #24292e;
  --dark-text-color:  #24292e;
  --text-light-color: #707070;
  --background-color: #ffffff;
  --code-background: #EFF1F3;
}

/** dark mode **/
.dark {
  --background-color: #1D2127;
  --grey-background: #2E333A;
  --light-border-color: #3e3e3e;
  --text-color:  #AFBAC6;
  --text-light-color: #AFBAC6;
  --code-background: #3C434D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1D2127;
    --grey-background: #2E333A;
    --light-border-color: #3e3e3e;
    --text-color:  #AFBAC6;
    --text-light-color: #AFBAC6;
    --code-background: #3C434D;
  }
}

.light {
  --primary-color: #db0a5b;
  --light-primary-color: #f7cfdf;
  --grey-background: #F5F7F9;
  --light-border-color: #eaecef;
  --text-color:  #24292e;
  --dark-text-color:  #24292e;
  --text-light-color: #707070;
  --background-color: #ffffff;
  --code-background: #EFF1F3;
}